################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogViewerExperiement/obj/Debug
/LogViewerExperiement/bin/Debug
